@model portal_project.Models.SousCategorie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p class="text-danger small">@ViewBag.Error</p>
<div>
    <h4>SousCategorie</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Catégorie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCategorie.Libelle)
        </dd>
        <dt>
            @Html.DisplayName("Sous catégorie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
