@model portal_project.Models.Event

@{
    ViewBag.Title = "Create";
}

<div class="row col-12">
    @using (Html.BeginForm("Create", "Events", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-xl-6" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">

            <div class="form-horizontal w-100 mx-auto bg-navbar rounded-4 m-2">
                @Html.HiddenFor(model => model.EventAdresse.Axe_X)
                @Html.HiddenFor(model => model.EventAdresse.Axe_Y)
                <h2 class="text-center">Créer un évenement</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control", placeholder = "Titre" } })
                        @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.DateDebut, new { htmlAttributes = new { @class = "form-control", placeholder = "Date de début" } })
                        @Html.ValidationMessageFor(model => model.DateDebut, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control", placeholder = "Date de fin" } })
                        @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.Tarif, new { htmlAttributes = new { @class = "form-control", placeholder = "Tarif" } })
                        @Html.ValidationMessageFor(model => model.Tarif, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.MinAge, new { htmlAttributes = new { @class = "form-control", placeholder = "Âge minimum" } })
                        @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.EventAdresse.Voie, new { htmlAttributes = new { @class = "form-control", placeholder = "Voie/Rue", list = "listAdresses" } })
                        @Html.ValidationMessageFor(model => model.EventAdresse.Voie, "", new { @class = "text-danger" })
                        <datalist id="listAdresses">
                        </datalist>
                    </div>
                </div>
                <div class="d-none">
                    @Html.EditorFor(model => model.EventAdresse.Axe_X, new { htmlAttributes = new { @class = "form-control", placeholder = "Axe X" } })
                    @Html.ValidationMessageFor(model => model.EventAdresse.Axe_X, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.EventAdresse.Axe_Y, new { htmlAttributes = new { @class = "form-control", placeholder = "Axe Y" } })
                    @Html.ValidationMessageFor(model => model.EventAdresse.Axe_Y, "", new { @class = "text-danger" })
                </div>
                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.EventAdresse.Ville, new { htmlAttributes = new { @class = "form-control", placeholder = "Ville" } })
                        @Html.ValidationMessageFor(model => model.EventAdresse.Ville, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3">

                    <div class="col-md-10 mx-auto">
                        @Html.EditorFor(model => model.EventAdresse.CodePostal, new { htmlAttributes = new { @class = "form-control", placeholder = "Code Postal" } })
                        @Html.ValidationMessageFor(model => model.EventAdresse.CodePostal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="col-md-10 mx-auto">
                        @Html.LabelFor(model => model.EventSousCat, htmlAttributes: new { @class = "control-label col-md-2 mx-auto" })
                        <br />
                        @Html.DropDownListFor(model => model.EventSousCatId, new SelectList((IEnumerable<portal_project.Models.SousCategorie>)ViewData["sousCats"], "Id", "Libelle"), new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EventSousCat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="col-md-10 mx-auto">
                        @Html.Label("Photo", htmlAttributes: new { @class = "control-label col-md-2 mx-auto" })
                        <br />
                        <input type="file" name="photo" class="form-control" value="" />
                        @Html.ValidationMessage("Photo", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group justify-content-center mb-3">
                    <div class="col-md-offset-2 col-md-10 mx-auto">
                        <input type="submit" value="Créer" class="btn rounded-pill border border-dark bg-navbar" />
                    </div>
                </div>


            </div>

        </div>


    }
    <div id="map" class="container mb-3 col-sm-10 col-xl-6 mx-auto mt-3"></div>


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>