@using portal_project.ViewModels;
<nav class="navbar navbar-expand-lg navbar-light bg-navbar sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand p-0 mr-10" href="#">
            <img src="~/Content/images/logo.png" alt="" srcset="" height="70" class="d-inline-block">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between col-8" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0 ">
                <li class="nav-item">
                    @Html.ActionLink("Accueil", "Index", "Accueil", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Qui sommes-nous ?", "Index", "About", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Evenements", "Index", "Events", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Gestion utilisateurs", "Index", "Utilisateurs", null, new {@class="nav-link"})
                </li>
            </ul>
            <form class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control bg-light" placeholder="Rechercher" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary bg-light border-0" type="submit" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav  mb-2 mb-lg-0">
                @if (Session["User"] == null)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Connexion","Login","Utilisateurs",null, new { @class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inscription</a>
                    </li>
                }
            else
            {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropDownMenuLink" role="button" 
                   data-bs-toggle="dropdown" aria-expanded="false">
                    @((Session["User"] as UserLogViewModel).FullName)
                </a>
                <ul class="dropdown-menu bg-navbar" aria-labelledby="navbarDropDownMenuLink">
                    <li class="">
                        @Html.ActionLink("Mon compte", "Details", "Utilisateurs", null, new { @class = "nav-link" })
                    </li>
                    <li class="">
                        @Html.ActionLink("Mes évènements", "ModifierCompte", "Events", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Déconnexion", "Logout", "Utilisateurs", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </li>
            }

            </ul>

        </div>
    </div>
</nav>
